/* src/styles/base.css */
@import "tailwindcss/componets";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--foreground);
}
